# VS Code
.vscode/

# .NET / Visual Studio
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Node / React / Vite
**/node_modules/
**/dist/
**/.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
docker-compose.override.yml
**/Dockerfile.*

# System files
.DS_Store
Thumbs.db

# Others / binaries
*.exe
*.dll
*.pdb
*.cache
